# Node
node_modules/
npm-debug.log
yarn-error.log

# Metro
.metro-health-check*

# OSX
.DS_Store

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.apk

# Bundle artifacts
*.jsbundle

# CocoaPods (for iOS if needed later)
/ios/Pods/
